[user]
	name = zxyzhu
	email = xy.zhu91@gmail.com
[color]
	ui = true

[alias]
	ci = commit
	cm = commit -m
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

